/* Base ----------------------------------------------------------- */
body {
	color: #454545;
	font-family: "Open Sans",sans-serif;
	font-size: 16px;
	/*min-width: 320px;*/
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 20px;
}
h1 {
	font-size: 31px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 19px;
}
h6 {
	font-size: 16px;
}
p {
	line-height: 20px;
	margin-bottom: 20px;
}
a {
	color: blue;
}
a:hover {
	text-decoration: none;
}
ul {
	margin: 0 0 20px 20px;
	list-style: disc;
}
table {
	margin-bottom: 20px;
}
table, tr, td {
	border: 1px solid black;
}
img {}
strong {
	font-weight: bold;
}



/* Layout ----------------------------------------------------------- */
.l-gutter {
	padding-left: 15px;
	padding-right: 15px;
}
.l-grid {
	font-size: 0px;
}
.l-grid .l-grid-col {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}
.l-grid.l-grid-2cols {}
.l-grid.l-grid-2cols .l-grid-col {
	width: 50%;
}
.l-grid.l-grid-3cols {}
.l-grid.l-grid-3cols .l-grid-col {
	width: 33.33%;
}
.l-grid.l-grid-4cols {}
.l-grid.l-grid-4cols .l-grid-col {
	width: 25%;
}
.l-grid.l-grid-5cols {}
.l-grid.l-grid-5cols .l-grid-col {
	width: 20%;
}
.l-table {
	display: table;
}
.l-table .l-table-row {
	display: table-row;
	width: 100%;
}
.l-table .l-table-cell {
	display: table-cell;
	vertical-align: top;
}
.l-table .l-table-cell.l-table-cell-middle {
	vertical-align: middle;
}
.l-table .l-table-cell.l-table-cell-bottom {
	vertical-align: bottom;
}
.l-header {
	margin-bottom: 20px;
}
.l-content {
	width: 100%;
	max-width: 1010px;
	margin: 0 auto;
}
.l-footer {
	background: white;
	color: #333;
	padding: 20px 0;

}
.l-main {
	margin-bottom: 100px;
}
.l-main .l-main-content {
	width: 100%;
}
.l-main.l-main-is-aside-active {}
.l-main.l-main-is-aside-active:after {
	content: "";
	display: block;
	clear: both;
}
.l-main.l-main-is-aside-active .l-main-aside {
	width: 210px;
	float: left;
}
.l-main.l-main-is-aside-active .l-main-content {
	margin-left: 231px;
	max-width: 749px;
	overflow: hidden;
}



/* Module ----------------------------------------------------------- */

.header {}
.header .header-notice {
	background: #414141;
	color: #ababab;
	padding: 5px 0;
	font-size: 
}
.header .header-notice .header-notice-promo {}
.header .header-notice .header-notice-promo p {
	margin: 0px;
}
.header .header-notice .header-notice-promo p span {
	color: #eb0609;
}
.header .header-notice .header-notice-menu {
	float: right;
}
.header .header-notice .header-notice-menu ul {
	margin: 0px;
	list-style: none;
}
.header .header-notice .header-notice-menu ul::after {
	content: "";
	display: block;
	clear: both;
}
.header .header-notice .header-notice-menu ul li {
	float: left;
	margin-left: 24px;
}
.header .header-notice .header-notice-menu ul li a {
	text-decoration: none;
	color: #ababab;
	display: inline-block;
	vertical-align: middle;
}
.header .header-notice .header-notice-menu ul li a:hover {
	color: white;
}
.header .header-nav {
	padding: 10px 0;
}
.header .header-nav .header-nav-logo {
	margin: 0px;
	width: 172px;
}
.header .header-nav .header-nav-logo a {
	display: inline-block;
}
.header .header-nav .header-nav-logo a img {}

.header .header-nav .header-nav-form {
	margin-right: 20px;
}
.header .header-nav .header-nav-form input[type="text"] {
	width: 191px;
	height: 20px;
	border: 1px solid #cccccc;
	border-right: 0px;
	padding: 4px;
}
.header .header-nav .header-nav-form input[type="submit"] {}
.header .header-nav .header-nav-form .button-submit {
	width: 30px;
	height: 30px;
}
.header .header-nav .header-nav-cart {
	width: 34px;
	height: 34px;
	display: inline-block;
	line-height: 30px;
	font-size: 20px;
}


.header-block {}
.header-block .header-block-h {
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 2px solid;
	padding-bottom: 10px;
	margin-bottom: 16px;
}

.header-h-slashedbordered {
	font-size: 18px;
	text-transform: uppercase;
	padding: 0px 10px;
	margin: 16px 0 14px 0;
	position: relative;
}
.header-h-slashedbordered span {
	font-weight: normal;
	font-size: 12px;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0,-50%);
   	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
    transform: translate(0,-50%);
	margin: 0 5px;
}
.header-h-slashedbordered::before {
	content: "";
	display: block;
	height: 5px;
	width: 100%;
	background: url("../img/border-1.jpg") repeat-x;
	position: absolute;
	top: -16px;
	left: 0px;
}




.button {
	display: inline-block;
	text-decoration: none;
	position: relative;
	padding: 6px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.button i {
	/*vertical-align: middle;
	font-size: 12px;*/
	/*position: absolute;
	top: 50%;
	-ms-transform: translate(0,-50%);
   	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
    transform: translate(0,-50%);*/
}
.button.button-font-normal {
	font-weight: normal;
}
.button.button-red {
	color: white;
	background: #e40613;
}
.button.button-red:hover {
	background: #c60909;
}
.button.button-black {
	color: white;
	background: black;
}
.button.button-black:hover {
	background: #dddddd;
}
.button.button-darkgray {
	color: white;
	background: #333333;
}
.button.button-darkgray:hover {
	background: #dddddd;
}
.button.button-white {
	color: #E40613;
	background: white;
}
.button.button-white:hover {
	background: #f7f7f7;
}
.button.button-circle {
	-ms-border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.button-bordered {
	border: 2px solid #cccccc;
}



.page-goto {
	margin-bottom: 20px;
}
.page-goto .page-goto-up {
	width: 23px;
	height: 23px;
	font-size: 8px;
	line-height: 14px;
}


.page-breadcrumb {
	color: #323232;
	margin-bottom: 20px;
}
.page-breadcrumb p {
	font-size: 12px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.page-breadcrumb p a {
	text-decoration: none;
	color: #323232;
	font-size: 12px;
}
.page-breadcrumb p a:hover {
	color: #DA000D;
}
.page-breadcrumb p a:last-child {
	font-weight: bold;
}


.slider-banner.slider-slick {
	margin-bottom: 60px;
}
.slider-banner.slider-slick .slick-dots {
	bottom: -30px;
}
.slider-banner.slider-slick .slick-dots li {
	margin: 0 7px;
}
.slider-banner.slider-slick .slick-dots li button::before {
	font-size: 15px;
}

.nav {}

.nav.nav-header {
	margin-bottom: 8px;
}
.nav.nav-header ul {
	list-style: none;
	margin: 0px;
}
.nav.nav-header ul::after {
	content: "";
	display: block;
	clear: both;
}
.nav.nav-header ul li {
	float: left;
	margin: 0 14px;
}
.nav.nav-header ul li a {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 20px;
}
.nav.nav-header ul li a:hover {
	color: #4e4e4e;
}
.nav.nav-header ul li a .icon-dotted-triangle-right {
	font-size: 12px;
}



.nav-category {}
.nav-category ul {
	margin: 0px;
	list-style: none;
}
.nav-category ul li {
	/*border-bottom: 1px dotted #ccc;
	padding: 4px 10px;*/
	margin-bottom: 20px;
	position: relative;
}
.nav-category ul li::before {
	content:'\0048';
	font-family: 'Glyphter';
	position: absolute;
	font-size: 14px;
	left: 10px;
	top: 0px;
}
.nav-category ul li a {
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	display: block;
	font-weight: bold;
	margin-left: 20px;
	padding: 0px 10px;
}
.nav-category ul li a:hover {
	color: #e40613;
}
.nav-category ul li ul {
	margin-top: 6px;
	margin-bottom: 0px;
}
.nav-category ul li ul li {
	margin-bottom: 0px;
	border-bottom: 1px dotted #ccc;
	padding: 4px 0;
}
.nav-category ul li ul li::before {
	content:'\0043';
	font-size: 8px;
	left: 16px;
	top: 50%;
	-ms-transform: translate(0,-50%);
   	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.nav-category ul li ul li a {
	font-weight: normal;
}





.nav.nav-footer.nav-footer-vertical {
	padding: 0 20px;
	margin-bottom: 30px;
}
.nav.nav-footer.nav-footer-vertical .nav-footer-h {
	font-size: 20px;
	font-weight: normal;
	/*border-bottom: 1px solid #eaeaea;*/
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.nav.nav-footer-vertical ul {
	margin: 0px;
	list-style: none;
}
.nav.nav-footer-vertical > ul {
	margin: 0 20px;
	margin-bottom: 20px;
}
.nav.nav-footer-vertical ul ul {
	margin-left: 3px;
}
.nav.nav-footer-vertical ul li {
	font-size: 18px;
}
.nav.nav-footer-vertical ul li a {
	text-decoration: none;
	/*color: #eaeaea;*/
	color: #333;
	padding-bottom: 10px;
	display: inline-block;
}
.nav.nav-footer-vertical ul li ul li a {
	padding-bottom: 0px;
}

.nav.nav-footer-horizontal {}
.nav.nav-footer-horizontal ul {
	margin: 0px;
	list-style: none;
}
.nav.nav-footer-horizontal ul:after {
	content: "";
	display: block;
	clear: both;
}
.nav.nav-footer-horizontal ul li {
	float: left;
	border-right: 1px solid;
}
.nav.nav-footer-horizontal ul li:last-child {
	border-right: 0px;
}
.nav.nav-footer-horizontal ul li a {
	text-decoration: none;
	/*color: #eaeaea;*/
	color: #333;
	display: inline-block;
	padding: 0 5px;
}

.footer-copyright {
	margin: 0px;
	font-size: 14px;
}


.compare-prod {
	margin-bottom: 40px;
}
.compare-prod img {
	border: 1px solid #cccccc;
}


.product-cards {
	margin-bottom: 30px;
}
.product-cards .product-cards-filter {
	margin-bottom: 30px;	
}
.product-cards .product-cards-filter .product-cards-filter-ressum {
	font-weight: bold;
	margin: 0px;
}
.product-cards .product-cards-filter .product-cards-filter-ressum select {}
.product-cards .product-cards-filter .product-cards-filter-cat {}
.product-cards .product-cards-filter .product-cards-filter-cat ul {
	margin: 0px;
	list-style: none;
	font-size: 0px;
}
.product-cards .product-cards-filter .product-cards-filter-cat ul:after {
	content: "";
	display: block;
	clear: both;
}
.product-cards .product-cards-filter .product-cards-filter-cat ul li {
	display: inline-block;
	font-size: 14px;
	border-right: 1px solid #ccc;
}
.product-cards .product-cards-filter .product-cards-filter-cat ul li:first-child {
	border-left: 1px solid #ccc;	
}
.product-cards .product-cards-filter .product-cards-filter-cat ul li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 2px 14px;
}
.product-cards .product-cards-filter .product-cards-filter-cat ul li a:hover {
	color: #C60909;
}
.product-cards .product-cards-filter .product-cards-filter-cat ul li a.is-active {
	color: #C60909;
}
.product-cards .product-cards-paging {
	text-align: center;
	margin-bottom: 20px;
}
.product-cards .product-cards-paging ul {
	margin: 0px;
	list-style: none;
}
.product-cards .product-cards-paging ul:after {
	content: "";
	clear: both;
}
.product-cards .product-cards-paging ul li {
	display: inline-block;
	margin: 0 2px;
}
.product-cards .product-cards-paging ul li:first-child {
	margin-left: 0px
}
.product-cards .product-cards-paging ul li:last-child {
	margin-right: 0px
}
.product-cards .product-cards-paging ul li a {
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 0px;
	width: 40px;
	height: 40px;
	border: 1px solid #cccccc;
	line-height: 40px;
	font-size: 12px;
}
.product-cards .product-cards-paging ul li a:hover {
	background: #cccccc;
}
.product-cards .product-cards-paging ul li a.is-active {
	background: #cccccc;
}
.product-cards hr {
	border: 0px;
	border-top: 1px dashed;
	margin-bottom: 35px;
}
.product-cards ul {
	margin: 0px;
	margin-left: -13px;
	margin-right: -13px;
	margin-bottom: 30px;
}
.product-cards ul li {}
.product-cards .product-cards-item {
	height: 100%;
	max-height: 323px;
	overflow: hidden;
	margin-bottom: 10px;
}
.product-cards.product-cards-dashedbottom .product-cards-item {
	border-bottom: 1px dashed #929292;
}
.product-cards .product-cards-anc {
	display: block;
	text-decoration: none;
	color: #929292;
}
.product-cards .product-cards-anc:hover {
	color: black;
}
.product-cards ul li .product-cards-anc {
	padding-left: 13px;
	padding-right: 13px;
	border-right: 1px dashed #929292;
}
.product-cards ul li:nth-child(5n+1) .product-cards-anc {
	/*padding-left: 0px;
	padding-right: 13px;*/
}
.product-cards ul.l-grid-5cols li:nth-child(5n+5) .product-cards-anc {
	/*padding-left: 13px;
	padding-right: 0px;*/
	border-right: 0px;
}
.product-cards ul.l-grid-4cols li:nth-child(4n+4) .product-cards-anc {
	border-right: 0px;
}
.product-cards .product-cards-portrait {
	position: relative;
	margin-bottom: 20px;
}
.product-cards .product-cards-portrait::after {
	/*content: "";
	display: block;
	padding-bottom: 100%;	*/
}
.product-cards .product-cards-portrait .product-cards-portrait-rank {
	width: 24px;
	height: 24px;
	background: #6ebaeb;
	color: white;
	position: absolute;
	top: 5px;
	left: 5px;
	text-align: center;
	border-radius: 50%;
	line-height: 24px;
	font-weight: bold;
}
.product-cards .product-cards-portrait .product-cards-portrait-rank.gold {
	background: #c1a844;
}
.product-cards .product-cards-portrait .product-cards-portrait-rank.silver {
	background: #b5b5b5;
}
.product-cards .product-cards-portrait .product-cards-portrait-rank.bronze {
	background: #b6672c;
}
.product-cards .product-cards-portrait .product-cards-portrait-inner {
	/*position: absolute;
	width: 100%;
	height: 100%;	*/
}
.product-cards .product-cards-portrait .product-cards-portrait-inner img {
	width: 176px;
	height: 190px;
}
.product-cards .product-cards-detail {}
.product-cards .product-cards-detail .product-cards-name {
	font-size: 18px;
	font-weight: normal;
}
.product-cards .product-cards-detail .product-cards-detail-meta {}
.product-cards .product-cards-detail .product-cards-detail-meta .product-cards-detail-price {
	font-size: 18px;
	font-weight: bold;	
	margin-bottom: auto;
}
.product-cards .product-cards-detail .product-cards-detail-meta .product-cards-detail-price span {
	font-weight: normal;
	font-size: 14px;
}
.product-cards .product-cards-detail .product-cards-detail-meta .product-cards-detail-summary {
	font-size: 14px;
	margin-bottom: 10px;
	word-break: break-all;
}


.product-fold {
	margin-bottom: 30px;
}
.product-fold .product-fold-gallery {
	width: 100%;
	max-width: 445px;
}
.product-fold .product-fold-gallery .slider-slick-gallery {
	margin-bottom: 40px
}
.product-fold .product-fold-gallery .slider-slick-gallery-nav {
	margin-bottom: 20px
}
.product-fold .product-fold-gallery p {}
.product-fold .product-fold-desc {
	width: 100%;
	max-width: 471px;
	float: right;
}
.product-fold .product-fold-desc:after {
	content: "";
	display: block;
	clear: both;
}
.product-fold .product-fold-desc form {}
.product-fold .product-fold-desc form select {
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 2px;
	width: 130px;
}
.product-fold .product-fold-desc form input[type="text"] {
	border: 1px solid #cccccc;
	padding: 5px;
	border-radius: 3px;
}
.product-fold .product-fold-desc form .product-fold-desc-qty input[type="text"] {
	width: 62px;
}
.product-fold .product-fold-desc .product-fold-desc-h {
	font-size: 22px;
	margin-bottom: 30px;
	line-height: 24px;
}
.product-fold .product-fold-desc .product-fold-desc-h span {
	display: block;
	font-size: 14px;
	font-weight: normal;
}
.product-fold .product-fold-desc .product-fold-desc-price {
	font-weight: bold;
	font-size: 18px;
}
.product-fold .product-fold-desc .product-fold-desc-meta {
	margin-bottom: 20px;
}
.product-fold .product-fold-desc .product-fold-desc-meta p {
	margin-bottom: 0px;
}
.product-fold .product-fold-desc .product-fold-desc-options {
	margin-bottom: 20px;
}
.product-fold .product-fold-desc .product-fold-desc-options p {
	margin-bottom: 10px;
	font-weight: bold;
}
.product-fold .product-fold-desc hr {
	margin: 30px 0;
	color: #CBCBCB;
}
.product-fold .product-fold-desc .product-fold-desc-qty {
	font-weight: bold;
	margin-bottom: 30px;
}
.product-fold .product-fold-desc .product-fold-desc-control {
	margin-bottom: 30px;
}
.product-fold .product-fold-desc .product-fold-desc-control .button-cart {
	width: 100%;
	max-width: 220px;
	font-size: 26px;
	line-height: 36px;
}
.product-fold .product-fold-desc .product-fold-desc-control .button-favorite {
	width: 100%;
	max-width: 220px;
	font-size: 26px;
	line-height: 32px;
}
.product-fold .product-fold-desc .product-fold-desc-control .button-favorite i {
	font-size: 18px;
}
.product-fold .product-fold-desc .product-fold-desc-share {
	margin-bottom: 20px;
}


.product-detail {
	margin-bottom: 50px;
}
.product-detail > p {
	font-size: 14px;
}
.product-detail .product-detail-table {}
.product-detail .product-detail-table .l-table {
	border-collapse: collapse;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.product-detail .product-detail-table .l-table-row {
	border-bottom: 1px solid #ccc;
}
.product-detail .product-detail-table .l-table-row:last-child {
	border-bottom: 0px;	
}
.product-detail .product-detail-table .product-detail-table-label {
	background: #F5F5F5;
	min-width: 130px;
	padding: 5px 10px;
}
.product-detail .product-detail-table .product-detail-table-label p {
	margin: 0px;
}
.product-detail .product-detail-table .product-detail-table-data {
	width: 100%;
	padding: 5px 10px;
}
.product-detail .product-detail-table .product-detail-table-data p {
	margin: 0px;
}


.product-review {
	margin-bottom: 20px;
}
.product-review .product-review-control {
	border-bottom: 1px solid #ccc;
	padding: 5px 0px 20px;
}
.product-review .product-review-control .product-review-count {}
.product-review .product-review-control .product-review-count p {
	margin: 0px;
	font-size: 18px;
}
.product-review .product-review-control .product-review-control-btn {}
.product-review .product-review-list {}
.product-review .product-review-list ul {
	margin: 0px;
	list-style: none;
}
.product-review .product-review-list ul li {}
.product-review .product-review-list .product-review-list-head {
	background: #F5F5F5;
	padding: 10px 20px;
}
.product-review .product-review-list .product-review-list-head .product-review-list-head-stars {
	min-width: 114px;
}
.product-review .product-review-list .product-review-list-head .product-review-list-head-title {
	max-width: 500px;
	width: 100%;
}
.product-review .product-review-list .product-review-list-head .product-review-list-head-title p {
	margin-bottom: 0px;
	font-weight: bold;
}
.product-review .product-review-list .product-review-list-head .product-review-list-head-meta {
	min-width: 210px;
}
.product-review .product-review-list .product-review-list-head .product-review-list-head-meta p {
	margin-bottom: 0px;
	font-size: 14px;
}
.product-review .product-review-list .product-review-list-content {
	padding: 10px 20px;
}
.product-review .product-review-list .product-review-list-content p {
	font-size: 14px;
}


.icon {}
.icon-gold {
	color: #FFCC0F;
}
.icon-gray {
	color: gray;
}


.article-archive {
	word-break: break-all;
}
.article-archive .article-archive-hero {}
.article-archive .article-archive-hero img {
	width: 100%;
}
.article-archive p {
	font-size: 14px;
}


.archive-grayblock {
	margin-bottom: 30px;
	background: #eeeeee;
	padding: 18px;
}
.archive-grayblock .archive-grayblock-h {
	margin-bottom: 8px;
	font-size: 16px;
}
.archive-grayblock nav {}
.archive-grayblock nav ul {
	margin: 0px;
	list-style: none;
}
.archive-grayblock nav ul li {
	position: relative;
}
.archive-grayblock nav ul li::before {
	content:'\0043';
	font-family: 'Glyphter';
	position: absolute;
	font-size: 10px;
	top: 50%;
	-ms-transform: translate(0,-50%);
   	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.archive-grayblock nav ul li a {
	text-decoration: none;
	color: #303030;
	margin-left: 18px;
}
.archive-grayblock nav ul li a:hover {
	text-decoration: underline;
}


.aside-block {
	margin-bottom: 56px;
}

.form {}
.form-aside {}
.form-aside > p {
	margin-bottom: 5px;
	padding: 0 10px;
	font-size: 14px;
}
.form-aside .form-aside-note {
	background: #eeeeee;
	padding: 5px;
	margin: 0 10px 16px 10px;
}

.form-aside dl {
	padding: 0 10px;
	margin-bottom: 16px;
}
.form-aside dl dt {}
.form-aside dl dt p {
	margin-bottom: 0px;
	font-size: 14px;
}
.form-aside dl dd {
	margin-bottom: 6px;
}
.form-aside dl dd p {
	margin-bottom: 0px;
	font-size: 14px;
}
.form-aside input[type="text"] {
	width: 96%;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 2px;
	height: 28px;
}
.form-aside select {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 30px;
}
.form-aside input[type="checkbox"] {
	border: 1px solid #ccc;
	vertical-align: middle;
}
.form-aside .form-aside-control {}
.form-aside .form-aside-control p {
	margin-bottom: 0px;
	text-align: center;
}
.form-aside .form-aside-control .button {
	font-size: 12px;
	width: 100%;
	max-width: 130px;
	padding: 4px 4px 2px;
}
.form-aside .form-aside-control .button i {
	font-size: 16px;
	vertical-align: middle;
}


.aside-picads {
	margin: 0px;
	list-style: none;
}
.aside-picads li {
	margin-bottom: 10px;
}
.aside-picads li img {
	width: 100%;
	border: 1px solid #ccc;
}


/* State ----------------------------------------------------------- */





/* Helpers ----------------------------------------------------------- */
.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.width-full {
	width: 100%;
}
.align-middle {
	vertical-align: middle;
}
.align-bottom {
	vertical-align: bottom;
}
.display-none {
	display: none;
}
.float-right {
	float: right;
}
.clear-box-float::after {
	content: "";
	display: block;
	clear: both;
}
.color-red {
	color: #E40613;
}



/* Media ----------------------------------------------------------- */
@media screen and (max-width:768px ) { 
	/* Layouts ----------------------------------------------------------- */
	.l-grid.l-grid-2cols .l-grid-col {
		width: 100%;
	}
	.l-grid.l-grid-3cols .l-grid-col {
		width: 100%;
	}



	/* Modules ----------------------------------------------------------- */

	/* Helpers ----------------------------------------------------------- */
	

}